.teaser-carousel {
    position: relative;
    margin: 40px 0 10px;
}

.teaser-carousel__wrapper {
    padding-bottom: 60px;
}

// .swiper-wrapper div .img-text-link {
//     -webkit-flex-shrink: 0;
//     -ms-flex: 0 0 auto;
//     flex-shrink: 0;
//     width: 100%;
//     height: 100%;
//     position: relative;
// }
.swiper-wrapper > .elem {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.teaser-carousel__pagination .swiper-pagination-bullet-active {
    background: @main-color;
}

.teaser-carousel__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}


.teaser-carousel .img-text-link__text-wrp {
    height: 146px;
}

@media (max-width: 1090px) and (min-width: 992px){
  .teaser-carousel {
    padding: 0 30px;
  }
}
